.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-abe{
  margin: 40px 0;
  height: 250px; 
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

h1{
  display: flex;
  font-size: 5rem;
  justify-content: center;
}
h2{
  display: flex;
  font-size: 4rem;
  justify-content: center;
}

.button-abe{
  display: flex;
  justify-content: space-evenly;
  height: 10%;

}

.button-abe button{
  width: 15%;
  height: 100%;
  background-color: black;
  border-radius: 10px;
  border: 1px solid rgb(42, 165, 159);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;


}
/* PROBLEM SAAT DI MOBILE */
.button-abe button:hover{
  height: 50px;
  width: 50px;
  outline-style: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(128, 128, 128);
  border: 1px solid rgb(42, 165, 159);
}

.child-button-abe{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  justify-content: space-evenly;
}

.child-button-abe button{
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  outline-style: none;
  border-radius: 50%;
}
